.bundle
db/*.sqlite3
log/*.log
tmp/
*.swp
.tddium.staging
.tddium-deploy-key.staging
/tmp/aruba/repos/mongoid_sample/.tddium.staging
/tmp/aruba/repos/mongoid_sample/.tddium-deploy-key.staging
.tddium*
.tddium
